{{#app-page
  repo='ui-download'
  repoOwner='lifegadget'
  subHeading='downloading files from Ember to the client browser'
  currentPath=currentPath
}}

<h3>Overview</h3>
<row>
  <description>
    <p>
      We're used to putting links in documents and even linking to non-html based content that resides on server (images, pdf's, xml files, etc). Here we're doing something similar but yet different in the following ways:
      <br/>
      <ol>
        <li><b>Download</b>. Force browser to download the resource</li>
        <li><b>Client</b>. The data that makes up the file comes from the client not a server URL</li>
      </ol>
    </p>
  </description>
</row>
<br/>

<h3>Examples</h3>
<row>
  <widget class='wide'>
    <div class="row">

    </div>
    <div class="col-xs-12 downer">
        <span class='no-grow'>Choose a filename:</span>
        <span>{{text-input value=filename}}</span>
    </div>
    <div class="col-xs-12 downer">
        <span class='no-grow'>MIME Type:</span>
        <span>
          {{radio-buttons
            size='small'
            buttons='text/xml,text/plain,safari/download'
            value=mime
            changed="mimeTypeChanged"
          }}
        </span>
    </div>
    <div>
      <note>
        <b>Note:</b>
        Annoyingly Safari seems to not follow convention so if you give it a standard MIME type
        it will try to display it in a browser tab rather than download. The only way you can
        force the download is to give it a mime type it doesn't know about (hence the <prop>safari/download</prop> option above). Even though we can force Safari to download a file
        it does <i>not</i> respect the filename we've given it and instead always downloads a file called
        "Unknown".
      </note>
      <br/>
    </div>
    <div class='downer'>
      <h4>Press me:</h4>
    </div>
    <div class="col-xs-12">
      <span>
        {{ui-download
          mime=mime
          data=data
          filename=filename
          text='download!'
        }}
      </span>
      <span>
        {{ui-download
          mime=mime
          data=data
          filename=filename
          icon='download'
        }}
      </span>
      <span>
        {{ui-download
          mime=mime
          data=data
          filename=filename
          button='download!'
          icon='download'
        }}
      </span>
    </div>
  </widget>
  <description>
    <h4>Inline Use</h4>
    <p>
      This component comfortably supports inline as well as block formats. The inline format might look something like this:
    </p>
    <span class="col-xs-6">
<pre><code class="language-handlebars">\{{ui-download
  mime='{{mime}}'
  data={{dataTemplate}}
  filename='{{filename}}'
  text='download!'
}}</code></pre>
    </span>
    <span class="col-xs-6">
<pre><code class="language-handlebars">\{{ui-download
  mime='{{mime}}'
  data={{dataTemplate}}
  filename='{{filename}}'
  icon='download'
}}</code></pre>
    </span>
    <p>
      If you prefer a download button rather then text replace <prop>text</prop> property with <prop>button</prop>:
    </p>
<pre><code class="language-handlebars">\{{ui-download
  mime='{{mime}}'
  data=property.name
  filename='{{filename}}'
  button='download!'
  icon='download'
}}</code></pre>

  </description>
</row>

<row>
  <code>
    {{#ui-download
      mime=mime
      data=dataTemplate
      filename=filename
    }}
      <img src="http://ak-hdl.buzzfed.com/static/2014-01/enhanced/webdr07/3/11/anigif_enhanced-buzz-8895-1388765779-12.gif" alt="dancing-bear" height=200px>
    {{/ui-download}}
  </code>
  <description>
    <h4>Block Form</h4>
    <p>
      The block for is easy to understand, it just gives you a blank canvas where if clicked the file will download.
    </p>
    <span class="col-xs-12">
<pre><code class="language-handlebars">\{{#ui-download
  mime='{{mime}}'
  data={{dataTemplate}}
  filename='{{filename}}'
  text='download!'
}}
  &lt;img src="http://ak-hdl.buzzfed.com/static/2014-01/enhanced/webdr07/3/11/anigif_enhanced-buzz-8895-1388765779-12.gif" alt="dancing-bear" height=200px;&gt;
\{{/ui-download}}
</code></pre>
    </span>
  </description>
</row>
<h3>Handy CSS Targets</h3>
<row>
  <description>
<pre><code class="language-css">
/* Make text greyed out after downloading */
.ui-button.downloaded .text {
  color: darkgrey;
}</code></pre>
  </description>

  <description>
<pre><code class="language-css">
/* Make button text greyed out after downloading */
.ui-button.downloaded button {
  color: darkgrey;
}</code></pre>
  </description>
</row>

{{/app-page}}
